
        <div class="row1">
            <div class="column">
            <img src="https://s3-alpha-sig.figma.com/img/c526/a182/31a333572c962828c218c2ae894e102e?Expires=1675641600&Signature=AOIz0byh7tn7bepNARUmpliBCVcjgl8BfGLVLsjloiUTxO0hiZLXtEdLoIWI3-5FTo~WV3Fm~j~-YyQmAGTyP47fLzK26631N2S008dNBj12waclhvwjlaXFTNMHsei3rCN0DNrx7BS-bc6ya~H4Jgi-3ERNXpIBU57~YWhdKu8Q0qBzyd3b25VPP9ORUyU0Vz05U9ruNSuUsuQnaQ2DvNc~yysA1V4bcTxLPFUmzQwJxPfmmhZuyCSUUZQ7FOoMtc7khAJYLrk0jW35kRo2JfVwLwWVcUES8a6wmghM5Z~JJiRQm0CDGcKqQM3j0amgwbMuu9RV1XRnKRiVrvAz5w__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" alt="contact" class="rounded" >
            </div>
            <div class="column" style="text-align:left;">
            <ul style="list-style-type:none;">
                <div class="contact1" style="font-size: 40px; font-weight: bolder;">
                <li>Contact Us <br></li>
                </div>

                <div class="keepintouch" style="font-size: 30px;">
                <li>   Keep In Touch</li><br>
                </div>
                <li>Twinkling Stars Kindergarten  <br>Visamäentie 23,
                <br>Hämeenlinna 13100</li>
                <li><i class="material-icons" style="font-size:60px;color:blue;">phone</i>415-218-4791</li>
                <li><i class="material-icons" style="font-size:60px;color:blue;">email</i><a href="mailto:info@twinklingstars.com">info@twinklingstars.com</a></a></li>
                <li><i class="material-icons" style="font-size:60px;color:blue;">facebook</i><a href="https://www.facebook.com/profile.php?id=100089799731637">Like Us On Facebook</a></li>
            </ul>
            </div>
          </div>
        
          
     </div>

 </body></html>